
#product div{
    margin:3%;
}

.error_message{
    color: red;
}

.wysiwyg ul li {
    color: red;
    list-style-type: square;
}

#product_list_name{
    margin-left: 10px;
}

.custom-file-input-css{
    margin: 1%;
    padding: 1%;
    padding-left: 0;
}

.custom-file ul{
    margin-top: 2%;
    color: red;
}