{% block reusable_sidebar %}
    <ul id="sidebarnav">
        <li> <a class="waves-effect waves-dark" href="{{ asset('/') }}" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard</span></a></li>
        <li> <a class="waves-effect waves-dark" href="{{ asset('/profile') }}" aria-expanded="false"><i class="mdi mdi-account-check"></i><span class="hide-menu">Profile</span></a></li>
        <li> <a class="waves-effect waves-dark" href="{{ asset('/emails') }}" aria-expanded="false"><i class="mdi mdi-email-open"></i><span class="hide-menu">Emails</span></a></li>
        <li> <a class="waves-effect waves-dark" href="{{ asset('/terms-and-conditions') }}" aria-expanded="false"><i class="mdi mdi-book-open-variant"></i><span class="hide-menu">terms and conditions</span></a></li>
    </ul>
{% endblock %}